name: Pulumi Deployment Workflow

on:
  push:
    branches: [ "main" ]
    paths:
      - "infra/**"
  pull_request:
    branches: [ "main" ]
    paths:
      - "infra/**"

jobs:
  pulumi-deployment:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout the code
      - name: Checkout repository
        uses: actions/checkout@v4

      # Step 2: Configure Pulumi (setup credentials)
      - name: Set Pulumi Access Token
        run: echo "PULUMI_ACCESS_TOKEN=${{ secrets.PULUMI_ACCESS_TOKEN }}" >> $GITHUB_ENV

      # Step 3: Pulumi Login
      - name: Pulumi Login
        run: pulumi login

      # Step 4: Select the Pulumi stack
      - name: Select Pulumi Stack
        run: pulumi stack select ${{ vars.PULUMI_ORGANIZATION_NAME }}/${{ vars.PULUMI_PROJECT_NAME }}/${{ vars.PULUMI_STACK_NAME }}
        working-directory: infra

      # Step 5: Pulumi Preview for pull requests
      - name: Pulumi Preview
        if: github.event_name == 'pull_request'
        run: pulumi preview
        working-directory: infra

      # Step 6: Pulumi Up for pushes
      - name: Pulumi Up
        if: github.event_name == 'push'
        run: pulumi up --yes
        working-directory: infra
